.bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #333;
    background-color: #ffa5a4;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.div-block {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    display: flex;
}

.navbar {
    background-color: rgba(221, 221, 221, 0);
    width: 100%;
    position: relative;
}

.brand{
    margin-right: 50px;
}

.image-11{
    max-width: 240px;
}

.nav-menu {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-self: center;
    display: flex;
}

.w-nav-menu {
    float: right;
    position: relative;
}

.nav-link {
    text-transform: uppercase;
    align-self: center;
    padding: 0;
    font-family: Geist, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.div-block-15 {
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
}

.div-block-19 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.h1 {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Bowlby One SC, sans-serif;
    font-size: 120px;
    line-height: 90%;
}

.h1.width {
    text-align: center;
    width: 80%;
    padding-top: 3%;
    font-size: 840%;
}

.h1.width.main {
    text-align: center;
    letter-spacing: -.02rem;
    font-size: 640%;
}

.paragraph-7-copy.right {
    padding-right: 12px;
}

.paragraph-7-copy {
    letter-spacing: -.04px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
}

.link-block-2.cta.main {
    align-self: center;
}

.link-block-2.cta {
    grid-column-gap: .3rem;
    grid-row-gap: .3rem;
    align-self: stretch;
    height: 90px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-self: center;
}

.link-block-2 {
    background-color: #222;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    display: none;
}

.link-block-2:hover{
    scale: 1.05;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
